.container-fluid {
    background-image:("../assets/purple.jpg")
}
.header{
    padding: 20px;
    border: 2px solid rgba(211, 211, 211, 0.44);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.14);
    background-color: rgb(66, 11, 94);
    color:white;
}
.section-main {
  background-color: #800020;
  color:white;
  opacity: 0.7px;
  padding-bottom:300px;
  padding-right: 250px;
  
}
#main-block{
    float:left;
    text-align: left;
}
#section-tab {
    padding: 20px;
    border: 2px solid rgba(211, 211, 211, 0.44);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.14);
    text-align: left;
    background-color: black;
    color: white;
    float: left;
}
h4,h3{
    color:blueviolet;
}
#title {
    color: rgb(66, 11, 94);
}
.section-footer{
 opacity: 0.7px;
}